<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.system.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="okkpp.system.model.Resource" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reid" property="reid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, reid, name, type, pid, remark, value, enabled, leaf
  </sql>
  
  <select id="getResourcesByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  	* 
  	from s_resource t1,s_resource_role t2 where t1.id=t2.resource_id and t2.role_id=#{roleId}
  </select>
</mapper>