<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.dao.investment.RankOfBusinessMapper" >
  <resultMap id="BaseResultMap" type="okkpp.model.investment.RankOfBusiness" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="business_rank" property="businessRank" jdbcType="INTEGER" />
    <result column="start_rank" property="startRank" jdbcType="INTEGER" />
    <result column="construction_rank" property="constructionRank" jdbcType="INTEGER" />
    <result column="construction_number" property="constructionNumber" jdbcType="INTEGER" />
    <result column="construction_days" property="constructionDays" jdbcType="DOUBLE" />
    <result column="property_rank" property="propertyRank" jdbcType="INTEGER" />
    <result column="property_number" property="propertyNumber" jdbcType="INTEGER" />
    <result column="property_days" property="propertyDays" jdbcType="DOUBLE" />
    <result column="credit_rank" property="creditRank" jdbcType="INTEGER" />
    <result column="taxes_rank" property="taxesRank" jdbcType="INTEGER" />
    <result column="investors_rank" property="investorsRank" jdbcType="INTEGER" />
    <result column="investors_index" property="investorsIndex" jdbcType="DOUBLE" />
    <result column="trading_rank" property="tradingRank" jdbcType="INTEGER" />
    <result column="contracts_rank" property="contractsRank" jdbcType="INTEGER" />
    <result column="contracts_days" property="contractsDays" jdbcType="DOUBLE" />
    <result column="insolvency_rank" property="insolvencyRank" jdbcType="INTEGER" />
    <result column="insolcenvy_days" property="insolcenvyDays" jdbcType="DOUBLE" />
    <result column="insolvency_rate" property="insolvencyRate" jdbcType="DOUBLE" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, country, year, business_rank, start_rank, construction_rank, construction_number, 
    construction_days, property_rank, property_number, property_days, credit_rank, taxes_rank, 
    investors_rank, investors_index, trading_rank, contracts_rank, contracts_days, insolvency_rank, 
    insolcenvy_days, insolvency_rate, sort, updated
  </sql>
</mapper>