<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.dao.WLJXZSMapper" >
  <resultMap id="BaseResultMap" type="okkpp.model.WLJXZS" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="GJ" property="gj" jdbcType="VARCHAR" />
    <result column="GJDM" property="gjdm" jdbcType="VARCHAR" />
    <result column="NF" property="nf" jdbcType="VARCHAR" />
    <result column="XM" property="xm" jdbcType="VARCHAR" />
    <result column="FS" property="fs" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, GJ, GJDM, NF, XM, FS
  </sql>
  
  <select id="getWLJXZS" parameterType="okkpp.model.WLJXZS" resultMap="BaseResultMap">
      select * from t_ceec_WLJXZS where GJDM = #{GJDM} and NF = #{NF}
  </select>
  <insert id="uploadData" parameterType="java.util.List">
      insert into t_ceec_WLJXZS (GJ,GJDM,NF,XM,FS)
      values
      <foreach collection="data" index="index" item="item" open="(" separator="),(" close=")">
          <if test="item.GJDM != null and item.GJDM != ''">
              (select GJ from ceeccode where GJDM = #{item.GJDM})
              ,#{item.GJDM},#{item.NF},#{item.XM},#{item.FS}
          </if>
      </foreach>
  </insert>
</mapper>