<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="okkpp.dao.employment.LaborForceParticipationRateMapper">
  <resultMap id="BaseResultMap" type="okkpp.model.employment.LaborForceParticipationRate">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="total_labor_force" jdbcType="INTEGER" property="totalLaborForce" />
    <result column="participation_rate" jdbcType="DOUBLE" property="participationRate" />
    <result column="female_participation_rate" jdbcType="DOUBLE" property="femaleParticipationRate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, country, year, total_labor_force, participation_rate, female_participation_rate, 
    sort, updated
  </sql>
</mapper>