<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="okkpp.dao.propagate.TableInfoMapper">
  <resultMap id="BaseResultMap" type="okkpp.model.propagate.TableInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="catalog_cn" jdbcType="VARCHAR" property="catalogCn" />
    <result column="catalog_en" jdbcType="VARCHAR" property="catalogEn" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="okkpp.model.propagate.TableInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="fields" jdbcType="LONGVARCHAR" property="fields" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, catalog_cn, catalog_en, table_name, source, updated
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    fields
  </sql>
    <insert id="insertReturnId" parameterType="okkpp.model.propagate.TableInfo">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into table_info (id,catalog_cn,catalog_en,table_name,fields,source,updated) 
		values(#{id},#{catalogCn},#{catalogEn},#{tableName},#{fields},#{source},#{updated});
	</insert>
</mapper>