<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.dao.propagate.TableDataMapper">
	<resultMap id="BaseResultMap" type="okkpp.model.propagate.TableData">
		<!-- WARNING - @mbggenerated -->
		<id column="id" property="id" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="okkpp.model.propagate.TableData"
		extends="BaseResultMap">
		<!-- WARNING - @mbggenerated -->
		<result column="json" property="json" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated -->
		id
	</sql>
	<sql id="Blob_Column_List">
		<!-- WARNING - @mbggenerated -->
		json
	</sql>
	<insert id="insertReturnId" parameterType="okkpp.model.propagate.TableData">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into table_data values(#{id},#{json});
	</insert>
</mapper>