* {
	font-size:12px;
	margin: 0;
	padding: 0;
	font-family:'微软雅黑';
	/* color: #FFFFFF; */
}

.uhide{display:none;}

.t-center {
	text-align: center;
}
.navbtn{display:block;font-family:'微软雅黑';}


.uba {
	border: 1px solid #000000;
}

.ubb {
	border-bottom: 1px solid #000000;
}

.uba2 {
	border: 1px solid #44B6Fd;
}

.uba3 {
	    border: 1px solid #44B6Fd;
    border-top: none;
}

.uba4 {
	border-bottom: 1px solid #b2b2b2;
}

.uc-a {
	border-radius: 0.5em;
}

.uinn02 {
	padding: 0.1em;
}

.div-center h2{
    font-size: 14px;
}
.ub_contact .uinn07{
    line-height: 12px;
}
.uinn05 {
	padding: 0.6em;
}

.uinn06 {
	padding: 0.4em;
}

.uinn07 {
	padding: 0.2em;
    font-size: 14px;
}
.euinn07{
     font-size:16px;
     line-height:24px;
}
.footBg .uinn07{
    font-size: 16px;
    line-height: 30px;
}

.umar01 {
	margin: 0.1em;
}

.umar-r05 {
	margin-right: 0.5em;
}

.div-center {
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;

}

a:hover {
	color: #44b6fe;
}

#news a:hover {
	color: #686262;
}

.fontb {
	font-weight: bold;
}

.fontc {
	color: #1a1a1a;
}

.fontd {
	color: #898989;
}

.uc-all {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.t-right{text-align: right;}
.suojin
{text-indent:2em}





		.t-center {
			text-align: center;
		}

		.ub {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox; /* IE10 */
			display: flexbox;
			display: flex;
		}


		.uba {
			border: 1px solid #000000;
		}

		.uba1 {
			border: 1px solid #e9e9e9;
		}

		.uc-a {
			border-radius: 0.5em;
		}

		.uinn02 {
			padding: 0.1em;
		}

		.uinn05 {
			padding: 0.6em;
		}

		.uinn06 {
			padding: 0.4em;
		}
		.uinn07
		{
			padding: 0.2em;

		}
		.umar01 {
			margin: 0.1em;
		}

		.umar-r05 {
			margin-right: 0.5em;
		}
#main{
  width: 70%;
  height: 300px;
  margin:0 auto 1.2em;
  min-width: 78em;
  overflow: hidden;
  position: relative;
}
		#banner {
			width: 100%;
			position: relative;
			height: 100%;
            overflow: hidden;
		}
		.banner-slide{
          width: 100%;
          height: 100%;
          position: absolute;
            opacity: 0;
          top: 0;
          left: 0;
            transition: all 1.5s;
        }

        .slide-active{
            opacity: 1;
        }

        .button{
          position: absolute;
          width: 40px;
          height: 80px;
          left: 0;
          top: 50%;
          margin-top: -40px;
          background: url(../img/arrow.png) no-repeat center center;
        }

        .button:hover{
          background-color: #333;
          opacity: .7;
          filter: alpha(opacity=70);
        }

        .prev{
          transform: rotate(180deg);
        }

        .next{
          left: auto;
          right: 0;
        }

		/*圆点导航*/

		.dots{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          text-align: center;
        }

        .dots span{
          display: inline-block;
          width: 12px;
          height: 12px;
          line-height: 12px;
          border-radius: 50%;
          background: rgba(7,17,27,.4);
          margin-left: 8px;
          box-shadow: 0 0 0 2px rgba(255,255,255,.8) inset;
          cursor: pointer;
        }

        .dots span.active{
          box-shadow: 0 0 0 2px rgba(7,17,27,.4) inset;
          background-color: #fff;
        }

@media screen and (min-height:800px){
    #main{

       height: 418px;

    }
}


		a {
			text-decoration: none;
			color: black;
		}

		a:hover {
			color: #44b6fe;
		}

		#news a:hover {
			color: #686262;
		}

		.fontb {
			font-weight: bold;
		}
		.fontc{
			color: #1a1a1a;
		}
		.fontd{
			color: #898989;
		}
		.demo5 {
            color: #ccc;
            text-shadow: -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444;
        }
        .pic .img2{
        	display: none;
        	}
        .pic:hover .img1{
        	display: none;
        	}
        .pic:hover .img2{
        	display: block;
        	}



		/*切换的css代码*/
		.tabbox{width:100%;height:16.75em;background:#fff;font-family:'微软雅黑';}
         .tabbox .tab{overflow:hidden;background:#fff;}
         .tabbox .tab a{display:block;padding:10px 20px;float:left;text-decoration:none;color:#1e90ff;font-weight:bold;}
        .tabbox .tab a.on{color:#1e90ff;text-decoration:none;font-size:1.3em;}
        .tabbox .content{overflow:hidden;padding:0;}
        .tabbox .content li{display:none;}


		/*导航*/
		#navID a{border-bottom:2px solid rgba(0,0,0,0);line-height:40px;}
		 #navID a:hover{font-weight:bold; color:#1673a2; border-bottom:2px solid #1673a2;background-color:rgba(255,255,255,0.9);}
#jyxx{
    cursor: pointer;
    line-height:40px;
}
#jyxx:hover{
    border-bottom: 2px solid #1673a2;
    color: #1673a2;
   background-color:rgba(255,255,255,0.9);
   font-weight:bold;
}
#jyxx:hover ul{
    display: block;
    font-weight:normal;
}
#jyxx ul{
    display: none;
}
#navID #jyxx a{
    font-size:1.3em;
    padding: 2px 20px;

    background:rgba(255,255,255,0.8);
    display:block;
}
#navID #jyxx a:hover{
    background:rgba(30,144,255,0.8);
    color: #fff;
    border-bottom: 2px solid #fff;
}

		.fl{float:left;}
		.fr{float:right;}


		.fontd{
		       font-family:'Microsoft YaHei';font-size:14px;color:#333;line-height:1.2em;
		}
.po_a{display:inline-block;}
/*国别信息*/
#con #gbxx .gbcon>a{
  font-size:16px;
  color:#000;
  display:inline-block;
  min-width:10em;
  line-height:24px;
  margin:0 0 10px;
}
#con #gbxx .gbcon>a:hover{
  color:#1e90ff;
}

/*登录*/

#loginCsiDiv .login{color:#fff; font-size:12px;}
#loginCsiDiv a{ color:#fff; font-size:12px; line-height:24px;}

#loginCsiDiv .login-user{position:relative;}
#loginCsiDiv .login-user .user-child{z-index:999; position:absolute; display:none;}
#loginCsiDiv .login-user .user-child a{padding:4px 6px; line-height:18px; display:block; color:#1e90ff;background-color:rgba(255,255,255,0.9); border-bottom:1px solid #1e90ff;}
#loginCsiDiv .login-user .user-child a:hover{background-color:rgba(30,144,255,0.8); color:#fff; }
#loginCsiDiv .login-user >a{padding:0 14px;}
#loginCsiDiv .login-user:hover .user-child{display:block;}


/*中东欧16国板块*/
*{
    margin: 0;
    padding: 0;
}
h4{
    margin: 0;
    padding: 0;
}

#zdo-map{
    width: 100%;

}
.zdomap{
    width: 400px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.con-zdo{
    position: absolute;
    cursor: pointer;
}
.tap-zdo{
    padding: 10px;
    border:2px solid #333;
    border-radius: 4px;
    color: #3b3e50;
    position: absolute;
}
.tap-zdo>h4{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 6px;
}
.tap-zdo>p{
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}
/*爱沙尼亚*/
#asny{
    width: 94px;
    height: 82px;
    background: url(../img/asny.png) no-repeat;
    background-position: -249px -87px;
    z-index: 2;
    top: 87px;
    left: 249px;
}
#asny:hover{
    background: url(../img/asny2.png) no-repeat;
    background-position: -249px -87px;
}

#tap-asny{
    border-color: #18a8ef;
    top: 80px;
    left: 80px;
}
/*拉脱维亚*/
#ltwy{
    width: 141px;
    height: 84px;
    background: url(../img/ltwy.png) no-repeat;
    background-position: -200px -150px;
    z-index: 3;
    top: 150px;
    left: 200px;
}
#ltwy:hover{
    background: url(../img/ltwy2.png) no-repeat;
    background-position: -200px -150px;
}

#tap-ltwy{
    border-color: #ff9327;
    top: 150px;
    left: 40px;
}
/*立陶宛*/
#ltw{
    width: 108px;
    height: 85px;
    background: url(../img/ltw.png) no-repeat;
    background-position: -202px -210px;
    z-index: 4;
    top: 210px;
    left: 202px;
}
#ltw:hover{
    background: url(../img/ltw2.png) no-repeat;
    background-position: -202px -210px;
}

#tap-ltw{
    border-color: #fff800;
    top: 180px;
    left: 40px;
}
/*波兰*/
#bl{
    width: 195px;
    height: 185px;
    background: url(../img/bl.png) no-repeat;
    background-position: -65px -265px;
    z-index: 5;
    top: 265px;
    left: 65px;
}
#bl:hover{
    background: url(../img/bl2.png) no-repeat;
    background-position: -65px -265px;
}

#tap-bl{
    border-color: #5ff440;
    top: 320px;
    right: -30px;
}
/*捷克*/
#jk{
    width: 130px;
    height: 74px;
    background: url(../img/jk.png) no-repeat;
    background-position: -28px -394px;
    z-index: 6;
    top: 394px;
    left: 28px;
}
#jk:hover{
    background: url(../img/jk2.png) no-repeat;
    background-position: -28px -394px;
}

#tap-jk{
    border-color: #14f2dc;
    top: 360px;
    right: -30px;
}
/*斯洛伐克*/
#slfk{
    z-index: 7;
    width: 106px;
    height: 52px;
    background: url(../img/slfk.png) no-repeat;
    background-position: -126px -440px;
    top: 440px;
    left: 126px;
}
#slfk:hover{
    background: url(../img/slfk2.png) no-repeat;
    background-position: -126px -440px;
}

#tap-slfk{
    border-color: #bf36ff;
    top: 380px;
    right: -20px;
}
/*匈牙利*/
#xyl{
    z-index: 8;
    width: 128px;
    height: 76px;
    background: url(../img/xyl.png) no-repeat;
    background-position: -108px -468px;
    top: 468px;
    left: 108px;
}
#xyl:hover{
    background: url(../img/xyl2.png) no-repeat;
    background-position: -108px -468px;
}

#tap-xyl{
    border-color: #fc38a8;
    top: 400px;
    right: -30px;
}
/*斯洛文尼亚*/
#slwny{
    z-index: 10;
    width: 56px;
    height: 39px;
    background: url(../img/slwny.png) no-repeat;
    background-position: -53px -516px;
    top: 516px;
    left: 53px;
}
#slwny:hover{
    background: url(../img/slwny2.png) no-repeat;
    background-position: -53px -516px;
}

#tap-slwny{
    border-color: #783bff;
    top: 460px;
    left: -100px;
}
/*克罗地亚*/
#kldy{
    z-index: 9;
    width: 94px;
    height: 88px;
    background: url(../img/kldy.png) no-repeat;
    background-position: -70px -528px;
    top: 528px;
    left: 70px;
}
#kldy:hover{
    background: url(../img/kldy2.png) no-repeat;
    background-position: -70px -528px;
}

#tap-kldy{
    border-color: #ffc81a;
    top: 580px;
    left: -80px;
}
/*罗马尼亚*/
#lmny{
    z-index: 11;
    width: 180px;
    height: 130px;
    background: url(../img/lmny.png) no-repeat;
    background-position: -192px -476px;
    top: 476px;
    left: 192px;
}
#lmny:hover{
    background: url(../img/lmny2.png) no-repeat;
    background-position: -192px -476px;
}

#tap-lmny{
    border-color: #f7e894;
    top: 500px;
    right: -140px;
}
/*波黑*/
#bh{
    z-index: 12;
    width: 72px;
    height: 70px;
    background: url(../img/bh.png) no-repeat;
    background-position: -96px -562px;
    top: 562px;
    left: 96px;
}
#bh:hover{
    background: url(../img/bh2.png) no-repeat;
    background-position: -96px -562px;
}

#tap-bh{
    border-color: #0bf76f;
    top: 620px;
    left: -20px;
}
/*黑山*/
#hs{
    z-index: 15;
    width: 30px;
    height: 46px;
    background: url(../img/hs.png) no-repeat;
    background-position: -150px -608px;
    top: 608px;
    left: 150px;
}
#hs:hover{
    background: url(../img/hs2.png) no-repeat;
    background-position: -150px -608px;
}

#tap-hs{
    border-color: #ff6b43;
    top: 640px;
    left: -10px;
}
/*塞尔维亚*/
#serwy{
    z-index: 14;
    width: 78px;
    height: 114px;
    background: url(../img/serwy.png) no-repeat;
    background-position: -160px -536px;
    top: 536px;
    left: 160px;
}
#serwy:hover{
    background: url(../img/serwy2.png) no-repeat;
    background-position: -160px -536px;
}

#tap-serwy{
    border-color: #5a89f8;
    top: 600px;
    right: -110px;
}
/*保加利亚*/
#bjly{
    z-index: 15;
    width: 125px;
    height: 80px;
    background: url(../img/bjly.png) no-repeat;
    background-position: -225px -590px;
    top: 590px;
    left: 225px;
}
#bjly:hover{
    background: url(../img/bjly2.png) no-repeat;
    background-position: -225px -590px;
}

#tap-bjly{
    border-color: #684796;
    top: 620px;
    right: -110px;
}
/*阿尔巴尼亚*/
#aerbny{
    z-index: 16;
    width: 36px;
    height: 74px;
    background: url(../img/aerbny.png) no-repeat;
    background-position: -166px -638px;
    top: 638px;
    left: 166px;
}
#aerbny:hover{
    background: url(../img/aerbny2.png) no-repeat;
    background-position: -166px -638px;
}

#tap-aerbny{
    border-color: #ff7b7b;
    top: 700px;
    left: 200px;
}
/*马其顿*/
#mqd{
    z-index: 17;
    width: 48px;
    height: 40px;
    background: url(../img/mqd.png) no-repeat;
    background-position: -192px -642px;
    top: 642px;
    left: 192px;
}
#mqd:hover{
    background: url(../img/mqd2.png) no-repeat;
    background-position: -192px -642px;
}

#tap-mqd{
    border-color: #ff2c2c;
    top: 680px;
    right: 30px;
}

