<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.dao.energy.ElectricityGenerationMapper" >
  <resultMap id="BaseResultMap" type="okkpp.model.energy.ElectricityGeneration" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="thermal" property="thermal" jdbcType="INTEGER" />
    <result column="hydro" property="hydro" jdbcType="INTEGER" />
    <result column="nuclear" property="nuclear" jdbcType="INTEGER" />
    <result column="wind" property="wind" jdbcType="INTEGER" />
    <result column="solar" property="solar" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, country, year, total, thermal, hydro, nuclear, wind, solar, sort, updated
  </sql>
</mapper>