<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="okkpp.dao.economics.GDPMapper">
  <resultMap id="BaseResultMap" type="okkpp.model.economics.GDP">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="gdp" jdbcType="DOUBLE" property="gdp" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, country, year, gdp, sort, updated
  </sql>
</mapper>