<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="okkpp.dao.economics.GDPMapper" >

    <resultMap id="BaseResultMap" type="okkpp.model.economics.GDP" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="year" property="year" jdbcType="INTEGER" />
        <result column="gdp" property="gdp" jdbcType="INTEGER" />
        <result column="update" property="update" jdbcType="TIMESTAMP" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, country, year, gdp, update, sort
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moqianyi.bean.GDPExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_economics_gdp
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_economics_gdp
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_economics_gdp
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.moqianyi.bean.GDPExample" >
        delete from t_economics_gdp
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.moqianyi.bean.GDP" >
        insert into t_economics_gdp (id, country, year, 
            gdp, update, sort
            )
        values (#{id,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, 
            #{gdp,jdbcType=INTEGER}, #{update,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.moqianyi.bean.GDP" >
        insert into t_economics_gdp
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="country != null" >
                country,
            </if>
            <if test="year != null" >
                year,
            </if>
            <if test="gdp != null" >
                gdp,
            </if>
            <if test="update != null" >
                update,
            </if>
            <if test="sort != null" >
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="country != null" >
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="year != null" >
                #{year,jdbcType=INTEGER},
            </if>
            <if test="gdp != null" >
                #{gdp,jdbcType=INTEGER},
            </if>
            <if test="update != null" >
                #{update,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.moqianyi.bean.GDPExample" resultType="java.lang.Integer" >
        select count(*) from t_economics_gdp
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update t_economics_gdp
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.country != null" >
                country = #{record.country,jdbcType=VARCHAR},
            </if>
            <if test="record.year != null" >
                year = #{record.year,jdbcType=INTEGER},
            </if>
            <if test="record.gdp != null" >
                gdp = #{record.gdp,jdbcType=INTEGER},
            </if>
            <if test="record.update != null" >
                update = #{record.update,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sort != null" >
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update t_economics_gdp
        set id = #{record.id,jdbcType=INTEGER},
            country = #{record.country,jdbcType=VARCHAR},
            year = #{record.year,jdbcType=INTEGER},
            gdp = #{record.gdp,jdbcType=INTEGER},
            update = #{record.update,jdbcType=TIMESTAMP},
            sort = #{record.sort,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.moqianyi.bean.GDP" >
        update t_economics_gdp
        <set >
            <if test="country != null" >
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="year != null" >
                year = #{year,jdbcType=INTEGER},
            </if>
            <if test="gdp != null" >
                gdp = #{gdp,jdbcType=INTEGER},
            </if>
            <if test="update != null" >
                update = #{update,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.moqianyi.bean.GDP" >
        update t_economics_gdp
        set country = #{country,jdbcType=VARCHAR},
            year = #{year,jdbcType=INTEGER},
            gdp = #{gdp,jdbcType=INTEGER},
            update = #{update,jdbcType=TIMESTAMP},
            sort = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>